# TMDB API (https://www.themoviedb.org/settings/api)
VITE_API_BASE_URL=https://api.themoviedb.org/3
VITE_API_MOVIE_API_KEY=

# Firebase (https://console.firebase.google.com/)
VITE_FIREBASE_API_KEY=

# Мова за замовчуванням: ua | en
VITE_DEFAULT_LOCALE=ua
