.movies {
	padding: 20px 0;
	> h1 {
		margin-bottom: 20px;
	}
	.content {
		display: flex;
		gap: 20px;
		width: 100%;
		align-items: flex-start;
		@include media($md) {
			flex-direction: column;
		}
		.filter-panel {
			min-width: 260px;
			width: 260px;
			border: 1px solid #e3e3e3;
			border-radius: 5px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			overflow: hidden;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
			background-color: #fff;
			overflow: visible;
			@include media($md) {
				width: 100%;
			}
			.name {
				cursor: pointer;
				width: 100%;
				display: flex;
				justify-content: space-between;
				flex-wrap: nowrap;
				align-items: center;
				padding: 14px 16px;
				> h2 {
					display: inline-flex;
					font-size: 1.1em;
					justify-content: space-between;
					padding-right: 10px;
					width: 100%;
				}
				svg {
					transform: rotate(90deg);
					transition: all 0.3s ease-in-out;
				}
				.rotate {
					transform: rotate(270deg);
				}
			}
			.closed {
				display: none;
			}
			.filter {
				width: 100%;
				border-top: 1px solid #eee;
				padding: 14px 16px 16px;
				> h3 {
					display: inline-flex;
					align-items: center;
					width: 100%;
					font-size: 1em;
					font-weight: 300;
					margin-bottom: 10px;
				}
				.select {
					width: 100%;
					padding: 8px 10px;
					border-radius: 5px;
					border: 1px solid #e3e3e3;
					background-color: #fff;
					outline: none;
					cursor: pointer;
					transition: all 0.3s ease-in-out;
					&:hover {
						background-color: #f3f3f3;
					}
					.p-inputtext {
						&:focus {
							border: none;
							outline: none;
						}
					}
				}
			}
		}
		.items-wrapper {
			display: flex;
			flex-direction: column;
			width: 100%;
			.items {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
				grid-gap: 20px;
				position: relative;
				.fade-move,
				.fade-enter-active,
				.fade-leave-active {
					transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
				}
				.fade-enter-from,
				.fade-leave-to {
					opacity: 0;
					transform: scaleY(0.01) translate(30px, 0);
				}
				.fade-leave-active {
					position: absolute;
				}
			}
			.pagination {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 30px;
				padding: 0;
				max-width: 100%;
				width: 100%;
				height: 50px;
				justify-content: center;
				border-radius: 5px;
				background-color: rgb(1, 180, 228);
				cursor: pointer;
				transition: all 0.3s ease-in-out;
				color: #fff;
				font-size: 24px;
				font-weight: 600;
				border: none;
				&.loading {
					animation: blink 1s ease-in-out infinite alternate;
				}
				&:hover {
					background-color: rgb(2, 141, 180);
				}
			}
			.fixed {
				position: fixed;
				bottom: 0;
				left: 0;
				border-radius: 0;
				z-index: 5;
			}
		}
	}
	@keyframes blink {
		0% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}
}
