.favourite {
	padding: 20px 0;
	&__content {
		&-empty {
			text-align: center;
			font-size: 22px;
			font-weight: 600;
			padding: 60px 10px;
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 20px;
		position: relative;
		padding: 20px 0;
	}
	.fade-move,
	.fade-enter-active,
	.fade-leave-active {
		transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	}
	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
		transform: scaleX(0.01) translate(30px, 0);
	}
	.fade-leave-active {
		position: absolute;
	}
}
