.scroll-up-btn {
	position: fixed;
	bottom: 65px;
	right: 20px;
	width: 40px;
	height: 40px;
	font-size: 22px;
	background: $btnColor;
	border: none;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 1s;
	z-index: 20;
}