.home-search {
	// background-image: linear-gradient(to right, rgba(3,37,65, 0.8) 0%, rgba(3,37,65, 0.8) 100%),
	// 	url('/src/assets/images/bg-search.jpeg');
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 40px 40px;
		@include media($md) {
			padding: 40px 20px;
		}
		.title {
			color: $white;
			margin-bottom: 20px;
			h1 {
				font-size: 48px;
				@include media($md) {
					font-size: 36px;
				}
			}
			h2 {
				font-size: 21px;
				font-weight: 400;
				@include media($md) {
					font-size: 24px;
				}
			}
		}
	}
	.form {
		display: flex;
		align-items: center;
		position: relative;
		input {
			border-radius: 50px;
			border: none;
			outline: none;
			font-size: 18px;
			width: 100%;
			height: 46px;
			padding: 0 20px;
		}
		button {
			cursor: pointer;
			height: 100%;
			padding: 10px 26px;
			border: 0;
			background: $btnColor;
			border-radius: 30px;
			position: absolute;
			top: 0;
			right: -1px;
			color: #fff;
			font-size: 16px;
		}
	}
}
