.trend {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	gap: 20px;
	.tabs {
		display: flex;
		gap: 20px;
		h2 {
			font-size: 24px;
			font-weight: 600;
		}
		.item {
			display: flex;
			border-radius: 20px;
			border: 1px solid black;
			gap: 5px;
			cursor: pointer;
			@include media($mdPlus) {
				display: none;
			}
			h3 {
				align-self: center;
				font-size: 16px;
				border-radius: 20px;
				padding: 5px 25px;
				color: black;
			}
			.active {
				transition: 0.3s ease-in-out;
				background-color: $primary;
				color: $lightGreen;
			}
		}
		.mobile {
			display: none;
			@include media($mdPlus) {
				display: flex;
				border-radius: 20px;
				padding: 0 10px;
				background: linear-gradient(to right, $lightGreen 0%, $lightBlue 100%);
				color: black;
				font-weight: 600;
				font-size: 14px;
			}
		}
	}
	.swiper {
		padding: 10px 3px;
	}
}
