.trend-slider {
  .swiper {
    padding: 10px 0;
  }
}
.trend-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}
.trend-block {
  display: flex;
  gap: 20px;
}
.trend-block-title {
  font-size: 24px;
  font-weight: 600;
}
.trend-block-name {
  display: flex;
  border-radius: 20px;
  border: 1px solid black;
  gap: 5px;
  cursor: pointer;
}
.trend-block-name-title {
  align-self: center;
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 25px;
  color: black;
}
.trendActive {
  transition: 0.3s ease-in-out;
  background-color: rgb(3, 37, 65);
  color: #89f9e4;
}