@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');
@import './header.scss';
@import './footer.scss';
@import './pages/persons.scss';
@import './pages/favourite.scss';
@import './pages/search.scss';
@import './pages/movies.scss';
@import './pages/tvshows.scss';
@import './pages/mediadetails.scss';
@import './components/itemcard.scss';
@import './components/search.scss';
@import './components/trend.scss';
@import './components/trailers.scss';
@import './components/popular.scss';
@import './components/modal.scss';

body {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

#app {
	font-family: 'Source Sans 3', sans-serif;
}

.container {
	width: min(100% - 55px, 1280px);
	margin-inline: auto;
}
