// Colors
$primary: rgb(3, 37, 65);
$hover: rgb(78, 206, 249);
$white: #fff;
$burgerColor: #fff;
$btnColor: linear-gradient(to right, rgba(30, 213, 169, 1) 0%, rgba(1, 180, 228, 1) 100%);

// Media queries breakpoints
$xlPlus: 2560px;
$xl: 2048x;
$lgPlus: 1920px;
$lg: 1680px;
$mdPlus: 993px;
$md: 768px;
// $smPlus: 1024px;
$sm: 576px;
// $xsPlus: 576px;
$xs: 390px;